.DS_Store
*.wav
*.pyc
*.out
*.log
*.npy
__pycache__
.dropbox.attr
.ftpconfig
model.*
checkpoint
*temp
log

# csj
*ss*
csj/fine_tuning

# under implementation
bn_blstm_ctc.py
deepspeech*
wav2letter*
resnet*

# temp
*ccc*
*wrapper*


QUESTION.md
