.DS_Store
*.wav
*.pyc
*.out
*.log
*.npy
__pycache__
blstm_ctc_example.py
lstm_ctc_example.py
.dropbox.attr


# csj
train_ctc_dialog.py
train_attention_dialog.py
eval_ctc_dialog.py
read_dataset_ctc_dialog.py
test_read_dataset_ctc_dialog.py
char2num_insert.txt
char2num_insert2.txt
char2num_insert3.txt
phone2num_insert.txt
phone2num_insert2.txt
phone2num_insert3.txt
run_ctc_dialog.sh
dialog
csj/fine_tuning
