.DS_Store
*.wav
*.pyc
*.out
*.log
*.npy
__pycache__
blstm_ctc_example.py
lstm_ctc_example.py
.dropbox.attr

read_dataset_ctc_cluster.py
read_dataset_multitask_ctc_cluster.py

# csj
*_ss
*_ss.sh
*_ss.py
*_ss.txt
csj/fine_tuning
